*{
	padding: 0;
	margin: 0;
}
.lock{
	background-color: red;
	width: 100%;
	height: 1000px;
	position: fixed;
}
.tbbt{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	width: 50px;
	height: 100px;
}
.textbox{
	position: absolute;
	left: -200%;
	font-size: 20px;
	width: 200px;
	height: 50px;
}
.button{
	position: absolute;
	left: 150%;
	width: 75px;
	height: 50px;
}
.textt{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	border: 5px solid black;
}
.hu{
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	font-weight: 600;
	font-family: arial;
	font-size:20px;
	width: 270px;
	color: black;
}
.textt{
	display: none;
}