.infomb{
	margin-bottom: 20px;
}
.avatarmb{
	border-radius: 50%;
	width: 175px;
	padding: 7.5px 7.5px;
	border: 3px solid green;
}
.mainnamemb{
	margin-top: 15px;
}
.namemb{
	color: white;
	font-family: arial;
	font-weight: 600;
	font-size: 35px;
}
.jobmb{
	color: white;
	font-family: arial;
	font-weight: 600;
	font-size: 20px;
}
.iconmb{
	width: 50px;
	user-select: none;
	pointer-events: none;
}
.mmm{
	font-family: arial;
	display: inline-flex;
	float: left;
	padding-left: 10px;
	padding-bottom: 3px;
}
.mmm a{
	float: right;
	font-size: 30px;
	padding-top: 10px;
	user-select: none;
	pointer-events: none;
}
.a1{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 3px;
	padding-left: 3px;
	width: 320px;
	border-radius: 50px;
	background: white;
	border: 1px solid;
	margin-bottom: 10px;
}
.a2 .mmm a{
	margin-left: 30px;
}
.a2{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 3px;
	padding-left: 3px;
	width: 320px;
	border-radius: 50px;
	background: white;
	border: 1px solid;
	margin-bottom: 10px;
	margin-top: 70px;
}
.a3 .mmm a{
	margin-left: 30px;
}
.a3{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 3px;
	padding-left: 3px;
	width: 320px;
	border-radius: 50px;
	background: white;
	border: 1px solid;
	margin-bottom: 10px;
	margin-top: 140px;
}
