.mbb{
  display: none;
}
@media only screen and (max-width: 1000px) {
  .header, .contact{
    display: none;
  }
  .mbb{
    display: block;
  }
  body{
    background: #323038;
    text-align: center;
    margin-top: 50px;
  }
}